img{
    position: absolute;
}

#semicirculo-top{
    position: absolute;
    margin-top: 0px;
    margin-left: 1240px;
    transform: translate(-50%, -50%);
    height: 360px;
    width: 360px;
    border-radius: 200px 200px 200px 200px;
    background-color: #7f51a4;
}

#circ-base-1{
    position: absolute;
    margin-top: 685px;
    margin-left: 1085px;
    transform: translate(-50%, -50%);
    height: 230px;
    width: 270px;
    border-top-right-radius: 100%;
    background-color: #b87bf4;
}

#circ-base-2{
    position: absolute;
    margin-top: 685px;
    margin-left: 1450px;
    transform: translate(-50%, -50%);
    height: 230px;
    width: 270px;
    border-top-left-radius: 100%;
    background-color: #7f51a4;
}

  .minha-div {
    display: none;
    background-color: #898989;
    color: #efefef;
    width: 180px;
    height: 80px;
    margin-top: 480px;
    margin-left: 1240px;
    border-radius: 30px;
    position: absolute;
    text-align: center;
}

#ajuda{
    width: 20px;
    height: 20px;
}

#letra{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}