#caixa-email{
    width: 540px;
    height: 25px;
    position: absolute;
    margin-top: 355px;
    margin-left: 100px;
    padding: 15px;
    font-size: 20px;
}
#email{
    width: 540px;
    height: 25px;
    position: absolute;
    bottom: 54.88%;
    background: #D9D9D9;
    border: none;
    border-radius: 50px;
    margin-top: 355px;
    margin-left: 100px;
    padding: 15px;
    font-size: 20px;
}

#letraM{
    font-size: 32px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    margin-left: 75px;
    position: absolute;
}

#letraGG{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    color: black;
    margin-left: 240px;
    margin-top: 190px;
    position: absolute;
}

#semicirculo-top{
    margin-top: -50px;
    margin-left: 440px;
    transform: translate(-50%, -50%);
    height: 360px;
    width: 360px;
    border-radius: 200px 200px 200px 200px;
    background-color: #7f51a4;
    position: absolute;
}

#circulo_esq{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: #B87BF4;
    margin-top: 510px;
    margin-left: -130px;
    position: absolute;
}

#circulo_dir{
    margin-top: 685px;
    margin-left: 765px;
    transform: translate(-50%, -50%);
    height: 230px;
    width: 270px;
    border-top-left-radius: 100%;
    background-color: #7f51a4;
    position: absolute;
}

.minha-div {
    display: none;
    background-color: #7f51a4;
    width: 750px;
    height: 350px;
    margin-top: 150px;
    margin-left: 360px;
    border-radius: 60px;
    padding: 50px;
    opacity: 75%;
    position: absolute;
}

#letraG{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10px;
}

#letraP{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 25px;
}

#letraPP{
    font-size: 20px; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center; 
    margin-top: 20px;

}