#bola1{
    background-color: #a124dc;
    height: 300px;
    width: 300px;
    top: -100px;
    margin-left: -130px;
    border-radius: 50%;
    position: absolute;
}

#bola2{ 
    background-color: #b87bf4;
    height: 250px;
    width: 300px;
    top: 600px;
    margin-left: 555px;
    border-radius: 50%;
    position: absolute;
}

#img{
    height: 150px;
    width: 175px;
    top: 50px;
    margin-left: 1315px;
    position: absolute;
}

#img2{
    height: 150px;
    width: 170px;
    top: 220px;
    margin-left: 1325px;
    position: absolute;
}

#img3{
    height: 150px;
    width: 168px;
    top: 380px;
    margin-left: 1325px;
    position: absolute;
}

#img4{
    height: 150px;
    width: 168px;
    margin-top: 540px;
    margin-left: 1325px;
    position: absolute;
}

#linha{
    background-color: black;
    height: 500px;
    width: 1.5px;
    margin-top: 85px;
    position: absolute;
}

#retangulo{
    width: 295px;
    height: 50px;
    margin-top: 100px;
    background-color: #a29f9f;
    border-radius: 100px;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 20px;
    position: absolute;
}

.minha-barra {
    top: 0;
    left: -200px;
    width: 180px;
    height: 780px;
    background-color: #8b8a8a;
    opacity: 80%;
    transition: left 1s;
    z-index: 1;
    position: absolute;
  }

.mostrar{
    left: 0;
}

.botao-barra {
    top: 600px;
    left: 42px;
    z-index: 2;
    position: absolute;
  }

#perfil-sair{
    width: 150px;
    height: 50px;
    top: 60px;
    left: 15px;
    background-color: white;
    color: #000;
    font-size: 28px;
    border-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    text-align: center;
    position: relative;
}

#consulta{
    width: 380px;
    height: 125px;
    margin-left: 800px;
    margin-top: 190px;
    background-color: #8b8a8a;
    border-radius: 50px;
    text-align: justify;
    position: absolute;
}

#texto{
    font-size: 20px;
    margin-top: 16px;
    margin-left: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    padding-top: 10px;
    list-style: none;
    position: absolute;
}

#botao-mais{
    margin-top: 270px;
    margin-left: 1120px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #a124dc;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
}

.minha-div {
    display: none;
    background-color: #898989;
    width: 850px;
    height: 400px;
    margin-top: 95px;
    margin-left: 260px;
    border-radius: 80px;
    padding: 50px;
    position: absolute;
}

#botao-menos{
    margin-top: 50px;
    margin-left: 820px;
    width: 90px;
    height: 80px;
    padding-top: 10px;
    text-align: center;
    background-color: #a124dc;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
}

#letraG{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    margin-top: 10px;
}



#consulta2{
    width: 380px;
    height: 125px;
    margin-left: 235px;
    margin-top: 190px;
    background-color: #8b8a8a;
    border-radius: 50px;
    text-align: justify;
    position: absolute;
}

#texto2{
    font-size: 20px;
    margin-top: 16px;
    margin-left: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    padding-top: 10px;
    list-style: none;
    position: absolute;
}
#botao-mais2{
    margin-top: 270px;
    margin-left: 550px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #a124dc;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
}

.minha-div2{
    display: none;
    background-color: #898989;
    width: 850px;
    height: 400px;
    margin-top: 95px;
    margin-left: 260px;
    border-radius: 80px;
    padding: 50px;
    position: absolute;
}

#botao-menos2{
    margin-top: 50px;
    margin-left: 820px;
    width: 90px;
    height: 80px;
    padding-top: 10px;
    text-align: center;
    background-color: #a124dc;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
}

#letraG2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    margin-top: 10px;
}